<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://startbootstrap.github.io/startbootstrap-landing-page/css/styles.css" rel="stylesheet" />
  </head>

  <body>

  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:3000/articles">MY BLOG</a>
      <% if user_signed_in? %>
        <a  >
        <%= link_to "Edit profile", edit_user_registration_path  %>
        <a class="link-dark"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
        <% end %>
    </div>

<!--  <nav class="navbar navbar-expand-lg" style="background-color: gray">-->
<!--        <a class="navbar-brand text-white" href="#" >MY BLOG</a>-->
    <%# if user_signed_in? %>
<!--    <div class="collapse navbar-collapse">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item active">-->
<!--        Hello, <%#= link_to "#{current_user.email}", edit_user_registration_path%>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
        <%#= link_to "logout", destroy_user_session_path, method: :delete %>
<!--      </li>-->
<!--      </ul>-->
<!--    </div>-->
      <%# else %>
        <%#= link_to "Sign up", new_user_registration_path %>
        <%#= link_to "Login", new_user_session_path %>
      <%# end %>

  </nav>

  <% if notice %>
    <a class="alert alert-success"><%= notice %></a>
  <% end %>
  <% if alert %>
    <a class="aler alert-danger"><% alert %></a>
  <% end %>






 <%= yield %>

  </body>
</html>
